@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&family=Lexend:wght@700&family=Lugrasimo&family=Noto+Sans:ital,wght@0,300;0,400;1,100&display=swap');
/*    font-family: 'Noto Sans', sans-serif; */
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    overflow-x: hidden;
    background-color: #131313;
}
body{
    margin: 0;
    padding: 0;

}


.main-header{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0 0.4rem;
  }
  .main-logo{
    color: black;
    font-size:32px;
    text-decoration:none;
  }
  
  .main-nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    margin-left: -100%;
    transition: all .2s linear;
    background-color: rgba(0,0,0,.7);
    z-index: 100;
  }
  
  .main-nav.show{
    margin-left: 0;
    
  }
  
  .nav-links{
    background-color: rgb(250,250,250);
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
  }
  
  .link-item{
    margin-top: 2rem;
    color: #444444;
    text-decoration: none;
    font-weight: bold;
    position: relative;
  }
  
  .link-item::after {
    position: absolute;
    content: "";
    background-color: #F01943;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 3px;
    transition: 0.3s ease all;
  }
  
  .link-item:hover::after {
    width: 100%;
  }
  
  .button-menu{
    z-index: 200;
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    background: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .button-menu span{
    width: 37px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #444444;
    border-radius: 3px;
    transform-origin: 4px 0px;
    transition: all .2s linear;
  }
  
  .button-menu.close span {
    opacity: 1;
    transform: rotate(45deg) translate(0px, 0px);
    background: #830e25; 
  }
  
  .button-menu.close span:nth-child(2){
    transform: rotate(-45deg) translate(-8px, 5px);
  }
  
  .button-menu.close span:nth-child(3){
    display: none;
  }


  nav a{
    font-size: 20px;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    font-family: 'Noto Sans', sans-serif;
  }

#mainImg{
    background: url(../imagenes/312062412_483927243779520_4536700833756231208_n.jpg);
    margin-top: 3vh;
    width: 100%;
    height: 700px;
    max-width: 100vw;
    max-height: 700px;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    box-shadow: 0 8px 32px 0 rgba(9, 10, 22, 0.37);
}

#somos h1{
    font-size: 70px;
    text-align: center; 
    font-family: 'Noto Sans', sans-serif;
    width: 45vw;
}
#miembrosh2{
  font-size: 90px;
  text-align: center; 
  color: white; 
  font-family: 'Noto Sans', sans-serif;
}
#saymiembrosh2{
  font-size: 90px;
  text-align: center; 
  color: white; 
  font-family: 'Noto Sans', sans-serif;
}
#somos p{
    font-size: 32px;
    width: 40vw;
    margin-left: 3vw;
    text-align: left;
    color: black; 
    font-family: 'Noto Sans', sans-serif;
}
#fundadoresh2{
  width: 100vw;
  font-size: 80px;
  text-align: center; 
  font-family: 'Noto Sans', sans-serif;
  color: white;
}
.founders{
  display: grid;
  justify-content: center;
  align-items: center;
}

.fundadoresclase{
  position: relative; /* Permite ajustar la posición del h2 */
  width: 40vw;
  height: 80vh;
  max-width: 800px;

}

.fundadoresclase:nth-child(1){
  background: url(../imagenes/fundador1.jpg);
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
}
.fundadoresclase:nth-child(2){
  background: url(../imagenes/fundador2.jpg);
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
}

.fundadoresclase p{
  margin-left: 100%;
  font-size: 40px;
  width: 30vw;
  color:white;
  font-family: 'Noto Sans', sans-serif;
  font-style: italic;
  background: rgba(92, 12, 12, 0.37);
  box-shadow: 0 8px 32px 0 rgba(8, 9, 22, 0.37);
  backdrop-filter: blur(4px);
  border:1px solid rgba(122, 30, 30, 0.18);
  overflow-y: auto;
  overscroll-behavior-y: contain;
  max-height: 600px;
}
.fundadoresclase h2 {
  position: absolute; /* Coloca el h2 fuera de la vista */
  bottom: -100%; /* Inicialmente, fuera de la vista hacia abajo */
  visibility: hidden;
  width: 100%;
  transition: bottom 0.3s; /* Agrega una transición suave */
  font-size: 40px;
  color:#F01943;
  background: rgba(92, 12, 12, 0.37);
  backdrop-filter: blur(4px);
  font-family: 'Noto Sans', sans-serif;

}

.fundadoresclase:hover h2 {
  bottom: 0px; /* Muestra el h2 deslizándolo desde abajo */
  display: block; /* Muestra el h2 al hacer hover */
  visibility: visible;

}
.colored-text{
  color: #921122;
  max-width: 100vw;
}
.content {
  flex: 1; /* Toma todo el espacio disponible */
}
#somos{
  display: flex;
  align-items: center;
}
#imgtruenos {
  margin-top: 5vw;
  width: 50vw; 
  height: 40vh;
  background: url(../imagenes/PlacaLosTruenos.jpg);
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;

}
#sede h2{
  font-size: 6vw;
  text-align: center; 
  color: black; 
  font-family: 'Noto Sans', sans-serif;
}
#sede p{
  font-size: 2vw;
  text-align: center;
  color: black; 
  font-family: 'Noto Sans', sans-serif;
}

  #map{
    width: 100%;
    height: 500px;
}


#map h2{
    max-width: 100%; 
    width: 100%;
    text-align: center;
    font-size: 5vw;
    color: black;
    font-family: 'Noto Sans', sans-serif;
    background: rgba(255, 255, 255, 0.37);
    box-shadow: 0 8px 32px 0 rgba(9, 10, 22, 0.37);
    backdrop-filter: blur(4px);
    border:1px solid rgba(255, 255, 255, 0.18);
    
}
.container {
  width: 100vw;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  position: relative; /* Necesario para posicionar las imágenes de fondo */
  overflow: hidden; /* Evita el desbordamiento en el contenedor */
}

.carousel {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 300%; /* Ajusta el ancho total al número de imágenes */
    height: 100%;

}

.countdown {
  display: flex;
  justify-content: center;
  width: 80%;
  max-width: 600px;
  margin-top: 20px;
}

.countdown-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.countdown-item span {
  display: grid;
  place-items: center;
  border-radius: 50%;
  font-weight: bold;
  font-size: calc(1vw + 1vh);
  color: rgb(36, 18, 18); 
  font-size: 40px;
  font-family: 'Noto Sans', sans-serif;
  background: rgba(255, 255, 255, 0.37);
  width: 80px;
  height: 80px;
  box-shadow: 0 8px 32px 0 rgba(8, 9, 22, 0.37);
  backdrop-filter: blur(4px);
}

.countdown-item div {
  margin-top: 10px;
  text-align: center;
  background: rgba(255, 255, 255, 0.37);
  box-shadow: 0 8px 32px 0 rgba(7, 8, 27, 0.37);
  backdrop-filter: blur(4px);
  border:1px solid rgba(255, 255, 255, 0.18);
  font-size: calc(1vw + 1vh);
  color: black; 
  font-family: 'Noto Sans', sans-serif;
}

#evento{
  width: 100vw;
  z-index: 1;
  font-size: 5vw;
  text-align: center; 
  color: black; 
  font-family: 'Noto Sans', sans-serif;

}

.countdown p{
  position: absolute;
  right: 10vw;
  width: 30vw;
  margin-top: 25vh;
  background: rgba(255, 255, 255, 0.37);
  box-shadow: 0 8px 32px 0 rgba(9, 10, 29, 0.37);
  backdrop-filter: blur(4px);
  border:1px solid rgba(255, 255, 255, 0.18);
  font-size: 30px;
  text-align: center; 
  color: black; 
  font-family: 'Noto Sans', sans-serif;
}






.slider{
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slides{
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 800px;
  height: 500px;
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
}

/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
  display: none;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #40D3DC;

}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}
#radio5:checked ~ .first{
  margin-left: -80%;
}

/*css for automatic navigation*/

.navigation-auto{
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #40D3DC;
}
#radio5:checked ~ .navigation-auto .auto-btn5{
  background: #40D3DC;
}
.slides p{
  display: contents;
  font-family: 'Noto Sans', sans-serif;
  color:#ffffff;
}

#imgsede{
  
  margin-top: 20vh;
  margin-left: 10vw;
  background: url(../imagenes/sede.jpg);
  width: 80vw;
  height: 500px;
  max-width: 100vw;
  max-height: 500px;
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  box-shadow: 0 8px 32px 0 rgba(9, 10, 22, 0.37);
  overflow: hidden;
}

#imgsede:hover{
  filter: saturate(180%);
  transition: 0.5s;
}

.mision {

  width: 80vw;
  margin-left: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mbox {
  width: 500px;
  margin: 10px;
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10vh;
}
.mbox:hover{
  background: #3b040f; 
  transition: 0.5s;
}

.mbox h3{
  font-size: 30px;
  color:white; 
  font-family: 'Noto Sans', sans-serif;
}
.mbox div{

  width: 100px;
  height: 100px;
}
#mboximg1{
  background: url(../imagenes/logos/wheel.png);
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
}
#mboximg2{
  background: url(../imagenes/logos/handshake.png);
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
}
#mboximg3{
  background: url(../imagenes/logos/helmet.png);
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
}
.mbox p{
  font-size: 20px;
  color:#5f5353; 
  font-family: 'Noto Sans', sans-serif;
}
#sede p{
  color:#5f5353; 
}
#somos p{
  color:#5f5353; 
}

#h2mision{
  width: 100vw;
  height: 10vh;
  font-size: 70px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #921122;
  text-align: center; 
  color: black; 
  font-family: 'Noto Sans', sans-serif;
}





.carouseldep {
  width: 80vw;
  margin-left: 10vw;
  height: 80vh;
  overflow: hidden;
  position: relative;

}

.carouseldep p {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  font-size: 40px;
  font-style: italic;
  color: #921122; 
  overflow-y: auto;
  overscroll-behavior-y: contain;
  max-height: 800px;
  font-family: 'Noto Sans', sans-serif;
}

.carouseldep p.active {
  opacity: 1;
}

.carouseldep p:not(.active) {
  z-index: -1;
}
#carouseldepimg{
  float:right;
  width: 50%;
  height: 100%;
  background: url(../imagenes/JawZr_ZtV_720x0__1.jpg);
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
}
