@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&family=Lugrasimo&display=swap');

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    margin: 0;
    padding: 0;

}

@media screen and (min-width:768px) {
    .button-menu{
      display: none;
    }
  
    .main-logo{
      flex-basis: 30%;
    }
  
    .main-nav{
      position: static;
      margin-left: 0;
      flex-basis: 70%;
      height: 100%;
    }
  
    .nav-links{
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
      background: white;
    }
  
    .link-item{
      display: inline-block;
      margin-top: 0;
      margin-right: 2rem;
    }

  }


  @media screen and (max-width:768px) {
    .informacion{
        width: 100vw;
        margin-top: 30vh;
        margin-left:0;
    }
    .imginformacion{
        margin-left: 27.5vw;
        width: 50vw;
    }
    .informacion h2{
      width: 80vw;
      font-size: 40px;
      font-weight: 300;
      margin-left: 10vw;
      font-size: 60px;
      background: rgba(255, 255, 255, 0.37);
      box-shadow: 0 8px 32px 0 rgba(5, 6, 22, 0.37);
      backdrop-filter: blur(3px);
      border:1px solid rgba(255, 255, 255, 0.18);
      
    }
    .informacion p{
      width: 100%;
      background: rgba(255, 255, 255, 0.37);
      box-shadow: 0 8px 32px 0 rgba(6, 7, 22, 0.37);
      backdrop-filter: blur(3px);
      border:1px solid rgba(255, 255, 255, 0.18);
    }
    .imginformacion{
      display:none;
    }
    .informacion:nth-child(3){
      background: url(../../imagenes/IMG-20230825-WA0018.jpg);
      background-size: cover;
      background-position: center; 
      background-repeat: no-repeat;
    }
    .informacion:nth-child(4){
      background: url(../../imagenes/PlacaLosTruenos.jpg);
      background-size: cover;
      background-position: center; 
      background-repeat: no-repeat;
    }
    .informacion:nth-child(5){
      background: url(../../imagenes/PlacaMonumento.jpg);
      background-size: cover;
      background-position: center; 
      background-repeat: no-repeat;
    }
    .imagencarrusel{
      height: 80vw;
    }
  }